<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Fettermann Aikidô - Consulta pública de graduações
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="../css/consulta-menu.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../images/logo-sm.png" type="image/png">
</head>

<body>
    <div class="container pt-3 w-100">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/pessoas" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
                <img src="../images/logo-sm.png"/>
                <span class="fs-4">Fettermann Aikidô</span>
            </a> 
            <%- include('partials/consulta_menu') %>
        </header>
    </div>

    <main>

        <div class="container pt-3 w-100">

            <div class="card">
                <div class="card-header fw-bold">
                    <span id="total" name="total"><%= total + " graduação(ões) encontrada(s)" %></span></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">

                            <% docs.forEach(function(doc){ %>
                                <div class="card mb-2">
                                    <div class="card-header fw-bold"><%= doc.nome 
                                        + " (Faixa " + doc.faixa + " " + doc.categoria + ")" %></div>
                                    <div class="card-body">
                                        <p><%= doc.minimo_horas_treino_exame %> &nbsp; horas de treino na faixa atual para exame</p>
                                        <p><%= doc.minimo_tempo_exame %> &nbsp; meses de treino na faixa atual para exame</p>

                                        <div class="card mb-3 mt-4">
                                            <div class="card-header fw-bold">Técnicas</div>
                                            <div class="card-body">
                                            <ol id="tecnicas" name="tecnicas" class="list-group list-group-flush">
                                                <% if (doc.tecnicas) { %>
                                                    <% doc.tecnicas.forEach(function(tecnica){ %>
                                                        <li class="list-group-item"><%= tecnica.nome %></li>
                                                    <% }); %>
                                                <% }; %>
                                            </ol>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            <% }); %>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <div class="container"> 
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"> 
            <div class="col-md-4 d-flex align-items-center"> 
                <span class="mb-3 mb-md-0 text-body-secondary">2025 - Fettermann Aikidô</span>
                </div> 
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex"></ul> 
        </footer> 
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
    crossorigin="anonymous"></script>

</body>

</html>