<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Fettermann Aikidô - Consulta pública de dojos
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
    crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
    crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
    </header>

    <main>

        <div class="container pt-3 w-100">
            
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/pessoas" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
                    <!--
                    <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> 
                    -->
                    <img src="../images/logo-sm.png"/>
                    <span class="fs-4">Fettermann Aikidô</span>
                </a> 

                <ul class="nav nav-pills"> 
                    <li class="nav-item"><a href="/consulta/dojos" class="btn btn-primary btn-sm" aria-current="page">Dojos</a></li> 
                    <li class="nav-item">
                        <a id="botao_aniversariantes" name="botao_aniversariantes" class="btn btn-sm" 
                        href="/consulta/aniversariantes/<%= mes %>">Aniversariantes</a>
                    </li> 
                    <li class="nav-item"><a href="/consulta/graduacoes" class="btn btn-sm">Graduações</a></li>
                    <li class="nav-item"><a href="/consulta/taxas" class="btn btn-sm">Taxas</a></li> 
                </ul>
            </header>

            <div class="card">
                <div class="card-header fw-bold">
                    <span id="total" name="total"><%= total + " dojo(s) encontrado(s)"%></span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">

                            <% docs.forEach(function(doc){ %>
                            <div class="card mb-2">
                                <div class="card-header fw-bold"><%= doc.nome %></div>
                                <div class="card-body">
                                    <h5><%= doc.local %></h5>
                                    <p>
                                        <%= doc.endereco %> <br/>
                                        <%= doc.bairro + " - " + doc.cidade + " - " + doc.uf %>
                                    </p>
                                    <p>
                                        <% if (doc.professor[0]) { %>
                                            <%=  doc.professor[0].nome  %> <br/>
                                        <% } %>

                                        <%= doc.horarios %>
                                    </p>
                                </div>
                            </div>
                            <% }); %>

                        </div>
                    </div>
                </div>
            </div>

            <div class="container"> 
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"> 
                    <div class="col-md-4 d-flex align-items-center"> 
                        <span class="mb-3 mb-md-0 text-body-secondary">v. 2025.01 - Dojos - Fettermann Aikidô</span>
                        </div> 
                        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex"></ul> 
                </footer> 
            </div>

        </div>
    </main>
</body>

</html>