<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Fettermann Aikidô - <%= title %>
  </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/consulta-menu.css">
    <link rel="icon" href="../../images/logo-sm.png" type="image/png">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container pt-3 w-100">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/pessoas" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
                <!--
                <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> 
                -->
                <img src="../../images/logo-sm.png"/>
                <span class="fs-4">Fettermann Aikidô</span>
            </a> 

            <%- include('partials/menu_principal') %>
        </header>
    </div>
  <main>
    <div class="container pt-3 w-100">
            
      <div class="mb-2">
              <a class="btn btn-primary btn-sm" href="/dojos/edita/<%= doc._id %>">Edita</a>
              <a class="btn btn-primary btn-sm" href="/dojos">Cancela</a>
      </div>

      <div class="card">
        <div class="card-header">Dados do dojo</div>
        <div class="card-body">
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Nome: </span>
                <span id="nome" name="nome"><%= doc.nome %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Local: </span>
                <span id="local" name="local"><%= doc.local %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Endereço: </span>
                <span id="endereco" name="endereco"><%= doc.endereco %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Cidade: </span>
                <span id="cidade" name="cidade"><%= doc.cidade %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Bairro: </span>
                <span id="bairro" name="bairro"><%= doc.bairro %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">UF: </span>
                <span id="uf" name="uf"><%= doc.uf %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">País: </span>
                <span id="pais" name="pais"><%= doc.pais %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">URL: </span>
                <span id="url" name="url"><%= doc.url %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">E-mail: </span>
                <span id="email" name="email"><%= doc.email %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Situação: </span>
                <span id="situacao" name="situacao"><%= doc.is_ativo?'Ativo':'Inativo' %></span>
            </div>
          </div>

          <div class="card mb-3 mt-4">
            <div class="card-header fw-bold">Professores e horários</div>
            <div class="card-body">
              <div class="d-flex">
                <a class="btn btn-primary btn-sm" href="/dojos/novo_professor/<%= doc._id %>">Novo</a>
              </div>

              <ol id="professores" name="professores" class="list-group list-group-flush">
              <% if (doc.professores) { %>
                <% doc.professores.forEach(function(professor){ %>
                <li class="list-group-item">
                  <%= professor.nome + " - " + professor.horarios %>
                  <a class="btn btn-danger btn-sm float-end" 
                  href="/dojos/remove_professor/<%= doc._id %>/<%= professor.id_professor %>" 
                  title="Remover professor">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                  </a>
                </li>
                <% }) %>
              <% }; %>
              </ol>
            </div>
          </div>

          <div class="card mb-3 mt-4">
            <div class="card-header fw-bold">Alunos</div>
            <div class="card-body">
              <ol id="promocoes" name="promocoes" class="list-group list-group-flush">
                <% if (doc.alunos) { %>
                      <% doc.alunos.forEach(function(pessoa){ %>
                        <li class="list-group-item">
                          <% docs_graduacoes.forEach(function(g) { %>
                            <% if (g.id && g.id == pessoa.id_graduacao) { %>
                              <%= pessoa.nome + " (" + g.nome + ") (" + pessoa.situacao + ")" %>
                            <% } %>
                          <% }) %>
                        </li>
                      <% }); %>
                <% }; %>
              </ol>
            </div>
          </div>

        </div>
      </div>

    </div>
  </main>

  <div class="container"> 
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"> 
          <div class="col-md-4 d-flex align-items-center"> 
              <span class="mb-3 mb-md-0 text-body-secondary">2025 - Fettermann Aikidô</span>
            </div> 
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex"></ul> 
      </footer> 
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
  crossorigin="anonymous"></script>
</body>

</html>