<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Fettermann Aikidô - Cadastro de dojos
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="../css/consulta-menu.css">
    <link rel="icon" href="../images/logo-sm.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container pt-3 w-100">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/pessoas" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
                <!--
                <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> 
                -->
                <img src="../images/logo-sm.png"/>
                <span class="fs-4">Fettermann Aikidô</span>
            </a> 

            <%- include('partials/menu_principal') %>
        </header>
    </div>

    <main>

        <div class="container pt-3 w-100">
            
            <div class="mb-2">
                <a id="botao_novo_dojo" name="botao_novo_dojo" 
                class="btn btn-success btn-sm" href="/dojos/novo">Novo dojo</a>
            </div>

            <input class="form-control mt-2 mb-2" id="myInput" type="text" placeholder="Filtrar...">

            <div class="card">
                <div id="total" name="total" class="card-header fw-bold">
                    <%= total %> dojo(s) encontrado(s)
                </div>
                <div class="card-body" >
                    <div class="row">
                        <div class="col-12">

                            <% if (mensagem) { %>
                                <div id="mensagem-topo" class="alert alert-info alert-dismissible" >
                                    <span id="texto-mensagem"><%= mensagem %></span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            <% } %>
                                <ul id="lista" class="list-group mb-2">
                            <% docs.forEach(function(doc){ %>
                                    <li class="list-group-item">
                                        <h5><%= doc.nome %></h5>
                                        <hr>
                                        
                                        <% if (doc.professores) { %>
                                            <% doc.professores.forEach(function(professor) { %>
                                                <%= professor.nome + " - " + professor.horarios %> <br/>
                                            <% }); %>   
                                        <% } %>
                                        <br/>
                                        <%= doc.endereco %> <br/>
                                        <%= doc.cidade + " - " + doc.uf %>
                                        <p>
                                        Ações: 
                                        <a href="/dojos/detalhes/<%= doc._id %>">Detalhes</a>
                                        &nbsp;|&nbsp;
                                        <a href="/dojos/edita/<%= doc._id %>">Editar</a>
                                        </p>
                                    </li>                                
                            <% }); %>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="container"> 
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"> 
            <div class="col-md-4 d-flex align-items-center"> 
                <span class="mb-3 mb-md-0 text-body-secondary">2025 - Fettermann Aikidô</span>
                </div> 
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex"></ul> 
        </footer> 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
    crossorigin="anonymous"></script>
    <script src="/js/filtra_lista.js"></script>
</body>

</html>