<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Fettermann Aikidô - <%= title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <header>
  </header>
  <main>
    <div class="container pt-3 w-75">
            
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/pessoas" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
            <!--
            <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> 
            -->
            <img src="/images/logo-sm.png"/>
            <span class="fs-4">Fettermann Aikidô</span>
        </a> 

        <ul class="nav nav-pills"> 
                <li class="nav-item"><a href="/dojos" class="nav-link active" aria-current="page">Dojos</a></li> 
                <li class="nav-item"><a href="/pessoas" class="nav-link">Pessoas</a></li> 
                <li class="nav-item"><a href="/graduacoes" class="nav-link">Graduações</a></li> 
                <li class="nav-item"><a href="/logout" class="nav-link">Sair</a></li> 
        </ul>
      </header>

      <div class="card">
        <div class="card-header"><%= title %></div>
        <div class="card-body">
          <form id="formulario" name="formulario" action="<%= action %>" method="POST">
            <!-- Info Alert -->
            <div class="alert alert-info alert-dismissible fade show">
              <strong>Info!</strong> O '*'' indica os campos obrigatórios.
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>

            <div id="mensagem-topo" class="alert alert-danger alert-dismissible d-none" >
              <span id="texto-mensagem"></span>
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>

            <!-- Nome -->
            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="nome" class="col-form-label">*Nome</label>
              </div>
              <div class="col-4">
                <input type="text" class="form-control" id="nome" name="nome" value="<%= doc.nome %>"
                placeholder="O nome do dojo" data-obrigatorio="Por favor, preencha o nome do dojo.">
              </div>
            </div>
            
            <!--Endereco -->
            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="endereco" class="col-form-label">Endereço</label>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="endereco" name="endereco" value="<%= doc.endereco %>"
                placeholder="O endereço do dojo" aria-colcount="10" data-toggle="tooltip" data-placement="top" 
                title="O endereço">
              </div>
            </div>
            
            <!--Bairro -->
            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="bairro" class="col-form-label">Bairro</label>
              </div>
              <div class="col-4">
                <input type="text" class="form-control" id="bairro" name="bairro" value="<%= doc.bairro %>"
                placeholder="O nome do bairro" size="10" data-toggle="tooltip" data-placement="top" 
                title="O nome do bairro">
              </div>
            </div>

            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="cidade" class="col-form-label">Cidade</label>
              </div>
              <div class="col-4">
                <input type="text" class="form-control" id="cidade" name="cidade" value="<%= doc.cidade %>"
                placeholder="O nome da cidade" size="10" data-toggle="tooltip" data-placement="top" 
                title="O nome da cidade">
              </div>
            </div>

            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="uf" class="col-form-label">UF</label>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" id="uf" name="uf" value="<%= doc.uf %>"
                placeholder="O nome do estado" data-toggle="tooltip" data-placement="top" 
                title="O nome do estado">
              </div>
            </div>

            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="pais" class="col-form-label">País</label>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" id="pais" name="pais" value="<%= doc.pais %>"
                placeholder="O nome do país" data-toggle="tooltip" data-placement="top" 
                title="O nome do país">
              </div>
            </div>

            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="url" class="col-form-label">URL</label>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="url" name="url" value="<%= doc.url %>"
                placeholder="O endereço do site" data-toggle="tooltip" data-placement="top" 
                title="O endereço do site">
              </div>
            </div>

            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="email" class="col-form-label">E-mail</label>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" id="email" name="email" value="<%= doc.url %>"
                placeholder="O e-mail" data-toggle="tooltip" data-placement="top" 
                title="O e-mail">
              </div>
            </div>

            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="pessoa" class="col-form-label">Professor</label>
              </div>
              <div class="col-4">
                <select id="professor_id" name="professor_id" class="form-select" aria-label="Professor">
                  <option value="">Selecione</option>
                  <% docs_pessoas.forEach(function(pessoa) { %>
                    <% if (doc.id_professor && pessoa._id == doc.id_professor) {%>
                      <option value="<%= pessoa._id %>" selected><%= pessoa.nome %></option>
                    <% } else { %>
                      <option value="<%= pessoa._id %>"><%= pessoa.nome %></option>
                    <% } %>
                  <% }) %>
                </select>
              </div>
            </div>

            <div class="col-12">
              <input id="botao_grava" name="botao_grava" class="btn btn-primary" type="submit" value="Grava" />
              <a id="botao_cancela" name="botao_cancela" class="btn btn-primary" href="/dojos">Cancela</a>
            </div>

          </form>
        </div>
      </div>

      <div class="container"> 
          <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"> 
              <div class="col-md-4 d-flex align-items-center"> 
                  <span class="mb-3 mb-md-0 text-body-secondary">v. 2025.01 Fettermann Aikidô</span>
                </div> 
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex"></ul> 
          </footer> 
      </div>

    </div>
  </main>
  <script src="/js/verifica_campos_obrigatorios.js"></script>
</body>

</html>