<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Fettermann Aikidô - <%= title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
  </header>
  <main>
    <div class="container pt-3 w-100">
            
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/pessoas" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
          <img src="/images/logo-sm.png"/>
          <span class="fs-4">Fettermann Aikidô</span>
        </a> 

        <ul class="nav nav-pills"> 
                <li class="nav-item"><a id="menu-dojos" name="menu-dojos" 
                    href="/dojos" class="nav-link active">Dojos</a></li> 
                <li class="nav-item"><a id="menu-pessoas" name="menu-pessoas" 
                    href="/pessoas" class="nav-link" aria-current="page">Pessoas</a></li> 
                <li class="nav-item"><a id="menu-graduacoes" name="menu-graduacoes" 
                    href="/graduacoes" class="nav-link">Graduações</a></li> 
                <li class="nav-item dropdown">
                    <a id="menu-financeiro" name="menu-financeiro" 
                    class="nav-link dropdown-toggle" href="#" 
                    role="button" data-bs-toggle="dropdown" 
                    aria-expanded="false">
                            Financeiro
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="menu-taxas" name="menu-taxas" href="/taxas" 
                            class="nav-link" aria-current="page">Taxas</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a id="menu-sair" name="menu-sair" 
                    href="/logout" class="nav-link">Sair</a></li> 
        </ul>
      </header>

      <div class="mb-2">
              <a class="btn btn-primary btn-sm" href="/dojos/edita/<%= doc._id %>">Edita</a>
              <a class="btn btn-primary btn-sm" href="/dojos">Cancela</a>
      </div>

      <div class="card">
        <div class="card-header">Dados do dojo</div>
        <div class="card-body">
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Nome: </span>
                <span id="nome" name="nome"><%= doc.nome %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Local: </span>
                <span id="local" name="local"><%= doc.local %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Horários: </span>
                <span id="horarios" name="horarios"><%= doc.horarios %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Endereço: </span>
                <span id="endereco" name="endereco"><%= doc.endereco %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Cidade: </span>
                <span id="cidade" name="cidade"><%= doc.cidade %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Bairro: </span>
                <span id="bairro" name="bairro"><%= doc.bairro %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">UF: </span>
                <span id="uf" name="uf"><%= doc.uf %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">País: </span>
                <span id="pais" name="pais"><%= doc.pais %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">URL: </span>
                <span id="url" name="url"><%= doc.url %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">E-mail: </span>
                <span id="email" name="email"><%= doc.email %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Professor: </span>
                <span id="professor" name="professor">
                      <% if (doc.professor[0]) { %>
                      <%=  doc.professor[0].nome  %>
                      <% } %>
                </span>
            </div>
          </div>

          <div class="card mb-3 mt-4">
            <div class="card-header fw-bold">Alunos</div>
            <div class="card-body">
              <ol id="promocoes" name="promocoes" class="list-group list-group-flush">
                <% if (doc.alunos) { %>
                      <% doc.alunos.forEach(function(pessoa){ %>
                        <li class="list-group-item">
                          <% docs_graduacoes.forEach(function(g) { %>
                            <% if (g._id && g._id == pessoa.id_graduacao) { %>
                              <%= pessoa.nome + " (" + g.nome + ") (" + pessoa.situacao + ")" %>
                            <% } %>
                          <% }) %>
                        </li>
                      <% }); %>
                <% }; %>
              </ol>
            </div>
          </div>

        </div>
      </div>

      <div class="container"> 
          <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"> 
              <div class="col-md-4 d-flex align-items-center"> 
                  <span class="mb-3 mb-md-0 text-body-secondary">v. 2025.03 - Dojos - Fettermann Aikidô</span>
                </div> 
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex"></ul> 
          </footer> 
      </div>

    </div>
  </main>
</body>

</html>