<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Fettermann Aikidô - <%= title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
  rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
  crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/consulta-menu.css">
  <link rel="icon" href="../../images/logo-sm.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container pt-3 w-100">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/pessoas" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
              <!--
              <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> 
              -->
              <img src="../../images/logo-sm.png"/>
              <span class="fs-4">Fettermann Aikidô</span>
          </a> 

          <%- include('partials/menu_principal') %>
      </header>
  </div>
  <main>
    <div class="container pt-3 w-100">
    
      <div class="mb-2">
        <a class="btn btn-primary btn-sm" href="/graduacoes/edita/<%= doc.id %>">Edita</a>
        <a class="btn btn-primary btn-sm" href="/graduacoes">Cancela</a>
      </div>

      <div class="card">
        <div class="card-header">Dados da graduação (Consulta)</div>
        <div class="card-body">
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Sequência: </span>
                <span id="ordem" name="ordem"><%= doc.sequencia %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Nome: </span>
                <span id="nome" name="nome"><%= doc.nome %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Faixa: </span>
                <span id="faixa" name="faixa"><%= doc.faixa %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Horas para exame: </span>
                <span id="horas_exame" name="horas_exame"><%= doc.minimo_horas_treino_exame %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Meses para exame: </span>
                <span id="meses_exame" name="meses_exame"><%= doc.minimo_tempo_exame %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Categoria: </span>
                <span id="categoria" name="categoria"><%= doc.categoria %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Observações: </span>
                <span id="observacoes" name="observacoes"><%= doc.observacoes %></span>
            </div>
          </div>

           <div class="card mb-3 mt-4">
            <div class="card-header fw-bold">Técnicas</div>
            <div class="card-body">
              <ol id="tecnicas" name="tecnicas" class="list-group list-group-flush">
                <% if (doc.tecnicas) { %>
                      <% doc.tecnicas.forEach(function(tecnica){ %>
                        <li class="list-group-item"><%= tecnica.nome %></li>
                      <% }); %>
                <% }; %>
              </ol>
            </div>
          </div>

          <div class="card mb-3 mt-4">
            <div class="card-header fw-bold">Alunos</div>
            <div class="card-body">
              <ol id="promocoes" name="promocoes" class="list-group list-group-flush">
                <% if (doc.pessoas) { %>
                      <% doc.pessoas.forEach(function(pessoa){ %>
                        <li class="list-group-item">
                          <%= pessoa.nome + " (" + pessoa.situacao + ")" %>
                        </li>
                      <% }); %>
                <% }; %>
              </ol>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>

  <div class="container"> 
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"> 
          <div class="col-md-4 d-flex align-items-center"> 
              <span class="mb-3 mb-md-0 text-body-secondary">2025 - Fettermann Aikidô</span>
            </div> 
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex"></ul> 
      </footer> 
  </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
    crossorigin="anonymous"></script>
</body>

</html>