<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Fettermann Aikidô - <%= title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
  rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
  crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/consulta-menu.css">
  <link rel="icon" href="../../images/logo-sm.png" type="image/png">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="container pt-3 w-100">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/pessoas" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
              <!--
              <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> 
              -->
              <img src="../../images/logo-sm.png"/>
              <span class="fs-4">Fettermann Aikidô</span>
          </a> 

          <%- include('partials/menu_principal') %>
      </header>
  </div>
  
  <main>
    <div class="container pt-3 w-100">
<!--
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/pessoas" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
            <img src="/images/logo-sm.png"/>
            <span class="fs-4">Fettermann Aikidô</span>
          </a> 

          <ul class="nav nav-pills"> 
            <li class="nav-item"><a href="/dojos" class="nav-link">Dojos</a></li> 
            <li class="nav-item"><a href="/pessoas" class="nav-link active" aria-current="page">Pessoas</a></li> 
            <li class="nav-item"><a href="/graduacoes" class="nav-link">Graduações</a></li> 
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Financeiro
              </a>
              <ul class="dropdown-menu">
                <li><a href="/taxas" class="nav-link active" aria-current="page">Taxas</a></li>
              </ul>
            </li>
            <li class="nav-item"><a href="/logout" class="nav-link">Sair</a></li> 
          </ul>
        </header>

      -->
      <div class="card">
        <div class="card-header"><%= title %></div>
        <div class="card-body">

          <form id="formulario" action="<%= action %>" method="POST">
            <input type="hidden" id="total_promocoes" name="total_promocoes" value="<%= total_promocoes %>">
            <input type="hidden" id="total_pagamentos" name="total_pagamentos" value="<%= total_pagamentos %>">

            <!-- Info Alert -->
            <div class="alert alert-info alert-dismissible fade show">
              <strong>Info!</strong> O '*'' indica os campos obrigatórios.
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>

            <div id="mensagem-topo" class="alert alert-danger alert-dismissible d-none" >
              <span id="texto-mensagem"></span>
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>

          <!-- Nome -->
            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="nome" class="col-form-label">*Nome</label>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="nome" name="nome" value="<%= doc.nome %>"
                placeholder="O nome da pessoa" data-obrigatorio="Por favor, preencha o nome da pessoa.">
              </div>
            </div>
            
            <!-- Matricula -->
            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="matricula" class="col-form-label">Matrícula</label>
              </div>
              <div class="col-1">
                <input type="text" class="form-control" id="matricula" name="matricula" value="<%= doc.matricula %>"
                placeholder="O número de matrícula na FEPAI" size="10" data-toggle="tooltip" data-placement="top" 
                title="O número de matrícula na FEPAI">
              </div>
            </div>

            <!-- CPF -->
            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="cpf" class="col-form-label">CPF</label>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" id="cpf" name="cpf" value="<%= doc.cpf %>"
                placeholder="O número do CPF" data-toggle="tooltip" data-placement="top" 
                title="O número do CPF no formato 999.999.999-99">
              </div>
            </div>

            <!--Gradaucao atual-->
            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="graduacao_atual" class="col-form-label">*Graduação atual</label>
              </div>
              <div class="col-2">
                <select id="id_graduacao" name="id_graduacao" class="form-select" aria-label="Graduação atual" data-obrigatorio="Por favor, selecione a graduação atual da pessoa.">
                  <option value="" selected>Selecione</option>
                  <% docs_graduacoes.forEach(function(graduacao) { %>
                  <option value="<%= graduacao._id %>"  
                    <%= graduacao._id == doc.id_graduacao ? 'selected' : '' %> > 
                    <%= graduacao.nome + ' - ' + graduacao.faixa %>
                  </option>
                  <% }) %>
              </select>
              </div>
            </div>

            <!--Situacao-->
            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="situacao" class="form-label">Situação</label>
              </div>
              <div class="col-2">
                <select id="situacao" name="situacao" class="form-select" aria-label="Situacao">
                  <option value="" selected>Situação</option>
                  <option value="Inativo" <%= doc.situacao=="Inativo"?'selected':''%>>
                    Inativo
                  </option>
                  <option value="Ativo" <%= doc.situacao=="Ativo"?'selected':''%>>
                    Ativo
                  </option>
                </select>
              </div>
            </div>

            <!-- Aniversario -->
            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="aniversario" class="col-form-label">Aniversário</label>
              </div>
              <div class="col-1">
                <input type="text" class="form-control" id="aniversario" name="aniversario" value="<%= doc.aniversario %>"
                placeholder="A data de aniversário(dd/mm)" aria-colcount="10" data-toggle="tooltip" data-placement="top" 
                title="A data de aniversário(dd/mm)">
              </div>
            </div>

            <!-- Data inicio -->
            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="data_inicio" class="col-form-label">Data de início</label>
              </div>
              <div class="col-2">
                <input type="text" class="form-control" id="data_inicio" name="data_inicio" value="<%= doc.data_inicio_aikido %>"
                placeholder="A data de início no aikidô" size="10" data-toggle="tooltip" data-placement="top" 
                title="A data de início no aikidô">
              </div>
            </div>

            <!--Data de matricula-->
            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="data_inicio" class="col-form-label">Data de matrícula</label>
              </div>
              <div class="col-2">
                <input type="text" class="form-control" id="data_matricula" name="data_matricula" 
                value="<%= doc.data_matricula %>"
                placeholder="A data de matrícula" size="10" data-toggle="tooltip" data-placement="top" 
                title="A data de início no aikidô">
              </div>
            </div>

              <!--Tipo-->
            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="tipo" class="form-label">Tipo</label>
              </div>
              <div class="col-2">

                <select id="tipo" name="tipo" class="form-select" aria-label="Tipo">
                  <option value="">Selecione</option>
                  <option value="aluno" <%= doc.tipo=="aluno"?'selected':''%>>
                    Aluno
                  </option>
                  <option value="professor" <%= doc.tipo=="professor"?'selected':''%>>
                    Professor
                  </option>
                </select>

              </div>
            </div>

            <!-- Dojo -->
            <div class="form-group row mb-3">
              <div class="col-2">
                <label for="dojo_id" class="col-form-label">Dojo</label>
              </div>
              <div class="col-4">
                <select id="id_dojo" name="id_dojo" class="form-select" aria-label="Dojo">
                  <option value="">Selecione</option>
                  <% docs_dojos.forEach(function(dojo) { %>
                    <option value="<%= dojo._id %>" <%= dojo._id == doc.id_dojo?'selected':'' %>>
                      <%= dojo.nome %>
                    </option>
                  <% }) %>
                </select>
              </div>
            </div>

            <div class="card w-75 mx-auto mb-5">
              <div class="card-header fw-bold">Promoções</div>
              <div class="card-body" id="promocoes">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                  <button id="adiciona_promocao" class="btn btn-primary" type="button">Adiciona promoção</button>
                </div>
                  <% if (doc.promocoes) { %>
                    <% for (const [index, promocao] of doc.promocoes.entries()) {  %>
                      <div class="form-group row mb-3" id="promocao" name="promocao">
                        <div class="col-1">
                          <label for="data_promocao_<%= index+1 %>" class="col-form-label">Data</label>
                        </div>
                        <div class="col-3">
                          <input id="data_promocao_<%= index+1 %>" name="data_promocao_<%= index+1 %>" 
                          type="text" class="form-control" value="<%= promocao.data_formatada %>"/>
                        </div>

                        <div class="col-2">
                          <label for="graduacao_promocao_<%= index+1 %>" class="col-form-label">Graduação</label>
                        </div>
                        <div class="col-3">
                        <select id="id_graduacao_promocao_<%= index+1 %>" name="id_graduacao_promocao_<%= index+1 %>" 
                          class="form-select" aria-label="Graduação" required>
                          <option value="" selected>Selecione</option>
                          <% docs_graduacoes.forEach(function(graduacao) { %>
                            <option value="<%= graduacao._id %>" <%= graduacao._id == promocao.id_graduacao?'selected':''%>>
                              <%= graduacao.nome + ' - ' + graduacao.faixa %>
                            </option>
                          <% }) %>
                        </select>
                        </div>
                      </div>
                    <% }; %>
                  <% }; %>
              </div>

            </div>

            <div class="card w-85 mx-auto mb-5">
              <div class="card-header fw-bold">Pagamentos</div>
              <div class="card-body" id="pagamentos">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                  <button id="adiciona_pagamento" class="btn btn-primary" type="button">Adiciona pagamento</button>
                </div>
                <div>
                  <div class="form-group row mb-3" id="pagamento_cabec" name="pagamento_cabec">
                  <div class="col-2">
                    <label class="col-form-label">Data</label>
                  </div>
                  <div class="col-2">
                    <label class="col-form-label">Valor</label>
                  </div>
                  <div class="col-4">
                    <label class="col-form-label">Descrição</label>
                  </div>
                </div>
                </div>
                  <% if (doc.pagamentos) { %>
                    <% for (const [index, pagamento] of doc.pagamentos.entries()) {  %>
                      <div class="form-group row mb-3" id="pagamento_linha" name="pagamento_linha">
                        <!--
                        <div class="col-1">
                          <label for="payment_date_<%= index+1 %>" class="col-form-label">Data</label>
                        </div>
                        -->

                        <div class="col-2">
                          <input id="data_pagamento_<%= index+1 %>" name="data_pagamento_<%= index+1 %>" 
                          type="text" class="form-control" value="<%= pagamento.data_formatada %>"/>
                        </div>
                        <!--
                        <div class="col-1">
                          <label for="payment_amount_<%= index+1 %>" class="col-form-label">Valor</label>
                        </div>
                        -->
                        <div class="col-2">
                          <input id="valor_pagamento_<%= index+1 %>" name="valor_pagamento_<%= index+1 %>" 
                          type="text" class="form-control" value="<%= pagamento.valor_pago.$numberDecimal %>"/>
                        </div>

                        <!--
                        <div class="col-1">
                          <label for="payment_description_<%= index+1 %>" class="col-form-label">Descrição</label>
                        </div>
                        -->
                        <div class="col-4">
                          <input id="descricao_pagamento_<%= index+1 %>" name="descricao_pagamento_<%= index+1 %>" 
                          type="text" class="form-control" value="<%= pagamento.descricao %>"/>
                        </div>
                      </div>
                    <% }; %>
                  <% }; %>
              </div>

            </div>

            <div class="col-12">
              <input id="botao_grava" name="botao_grava" class="btn btn-primary" type="submit" value="Grava" />
              <a id="botao_cancela" name="botao_cancela" class="btn btn-primary" href="/pessoas">Cancela</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </main>

  <div class="container"> 
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"> 
        <div class="col-md-4 d-flex align-items-center"> 
            <span class="mb-3 mb-md-0 text-body-secondary">v. 2025.04 - Pessoas - Fettermann Aikidô</span>
          </div> 
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex"></ul> 
    </footer> 
  </div>

  <script src="/js/adiciona_promocao.js"></script>
  <script src="/js/adiciona_pagamento.js"></script>
  <script src="/js/verifica_campos_obrigatorios.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
  crossorigin="anonymous"></script>

</body>

</html>