<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Fettermann Aikidô - <%= title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
  rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
  crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/consulta-menu.css">
  <link rel="icon" href="../../images/logo-sm.png" type="image/png">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  
  <div class="container pt-3 w-100">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/pessoas" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
              <!--
              <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> 
              -->
              <img src="../../images/logo-sm.png"/>
              <span class="fs-4">Fettermann Aikidô</span>
          </a> 

          <%- include('partials/menu_principal') %>
      </header>
  </div>

  <main>
    <div class="container pt-3 w-100">
            
      <div class="mb-2">
        <a class="btn btn-primary btn-sm" href="/pessoas/edita/<%= doc._id %>">Edita</a>
        <a class="btn btn-primary btn-sm" href="/pessoas">Cancela</a>
      </div>


      <div class="card">
        <div class="card-header">Dados da pessoa</div>
        <div class="card-body">
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Nome: </span>
                <span id="nome" name="nome"><%= doc.nome %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Dojo: </span>
                <span id="dojo" name="dojo">
                  <% if (doc.dojo[0]) { %>
                    <%= doc.dojo[0].nome %>
                  <% } %>
                </span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Matrícula: </span>
                <span id="matricula" name="matricula"><%= doc.matricula %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">CPF: </span>
                <span id="cpf" name="cpf"><%= doc.cpf %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Aniversário: </span>
                <span id="aniversario" name="aniversario"><%= doc.aniversario %></span>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Graduação atual: </span>
                <span id="graduacao_atual" name="graduacao_atual"><%= doc.graduacao[0].nome %></span>
            </div>
          </div>

          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Tipo: </span>
                <span id="tipo" name="tipo">
                  <%= doc.tipo.charAt(0).toUpperCase() + doc.tipo.slice(1); %>
                </span>
            </div>
          </div>

          <div class="row pt-2">
            <div class="col">
                <span class="fw-bold">Situação: </span>
                <span id="situacao" name="situacao"><%= doc.situacao %></span>
            </div>
          </div>

          <div class="card mb-3 mt-4">
            <div class="card-header fw-bold">Promoções</div>
            <div class="card-body">
              <ol id="promocoes" name="promocoes" class="list-group list-group-flush">
                <% if (doc.promocoes) { %>
                      <% doc.promocoes.forEach(function(promocao){ %>
                        <% docs_graduacoes.forEach(function(g) { %>
                          <% if (promocao.id_graduacao && g._id == promocao.id_graduacao) { %>
                            <li class="list-group-item"><%= promocao.data_formatada + " - " + g.nome %></li>
                          <% } %>
                        <% }); %>
                      <% }); %>
                <% }; %>
              </ol>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header fw-bold">Cobranças e pagamentos</div>
            <div class="card-body">    
              <ol id="pagamentos" name="pagamentos" class="list-group list-group-flush">
                <% if (docs_cobrancas) { %>
                  <% docs_cobrancas.forEach(function(cobranca) { %>
                    <li class="list-group-item">
                      <b><%= cobranca.periodo_referencia %> - <%= cobranca.taxa.descricao %></b> <br/>
                      <%= cobranca.descricao %> no valor de R$ <%= cobranca.valor %> está <%= cobranca.situacao %>.
                      <% if(cobranca.pagamentos) { %>
                          <% cobranca.pagamentos.forEach(function(pagamento) { %>
                            <p>
                              Pagamento de R$ <%= pagamento.valor_pago %> efetuado em <%= pagamento.data_pagamento %>
                              através de <%= pagamento.forma_pagamento %>.
                            </p>
                          <% }); %> 
                        </ul>
                      <% } %>
                    </li>
                  <% }); %>
                <% } %>

              </ol>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>

  <div class="container"> 
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"> 
        <div class="col-md-4 d-flex align-items-center"> 
            <span class="mb-3 mb-md-0 text-body-secondary">v. 2025.05 - Pessoas - Fettermann Aikidô</span>
          </div> 
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex"></ul> 
    </footer> 
  </div>

    <script src="/js/exclusao.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
    crossorigin="anonymous"></script>
</body>

</html>